
FlickrPublish.xcodeproj/project.xcworkspace/xcuserdata/sanjay_dandekar.xcuserdatad/UserInterfaceState.xcuserstate

FlickrPublish.xcodeproj/xcuserdata/sanjay_dandekar.xcuserdatad/xcschemes/FlickrPublish.xcscheme

FlickrPublish.xcodeproj/xcuserdata/sanjay_dandekar.xcuserdatad/xcschemes/xcschememanagement.plist

*.xccheckout

FlickrPublish.xcodeproj/project.xcworkspace/xcuserdata/sanjay_dandekar.xcuserdatad/WorkspaceSettings.xcsettings

FlickrPublish.xcodeproj/xcuserdata/sanjay_dandekar.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
